* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, rgba(1, 0, 10, 1) 0%, rgba(20, 23, 1, 1) 64%, rgba(38, 33, 1, 1) 97%);
}

.navbar {
    background-color: #00000065 !important;
}

.logo {
    width: 60px;
}

.navbar-nav a {
    color: #ffffffcb;
}

.hide {
    display: none;
}

main {
    position: relative;
    height: 450px;
    text-align: center;
    border-bottom: 1px solid white;
}

.img_back {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.hero {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 12.5%;
    color: white;
}


h1 {
    color: white
}

h2 {
    margin-block: 60px;
}

.about,
.technologies,
.projects,
.contact {
    /* background: linear-gradient(90deg, rgba(1, 0, 10, 1) 0%, rgba(20, 23, 1, 1) 64%, rgba(38, 33, 1, 1) 97%); */
    color: white;
    text-align: center;
}

.projects {
    /* height: 300px; */
}

.contact img {
    background-color: aliceblue;
}

/* .about-me-img {
    width: ;
} */

.technologies {
    height: 300px;
}

/* SLIDER PROJECTS */

.slider-container.projects li {
    transition: all .5s ease;
}

.slider-container.projects li:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 20px #078192;
}


.card.shadow,
.card-body {
    padding: 15px;
    background: linear-gradient(90deg, rgba(1, 0, 10, 1) 0%, rgba(20, 23, 1, 1) 64%, rgba(38, 33, 1, 1) 97%);
}

.card-body {
    color: white;
}


.card-img-top {
    border-radius: 8px;
}

.card-body a {
    padding: 5px;
    margin: 15px 5px;
    font-size: 1.3rem;
    color: rgb(41, 195, 215);
}

/* .card-tech-container{
    background-color: rgb(35, 35, 35);
    border-radius: 8PX;
} */

.icon-card {
    width: 45px;
    margin: 15px 10px 0;
}

footer i {
    display: inline-block;
    color: white;
    font-size: 32px;
    transition: all .5s ease;
}

footer i:hover {
    transform: translateY(-8px);
    color: rgb(123, 125, 119);
}